.atomo_navbar__main_desktop_content_group {
    align-items: center;
    background: -moz-linear-gradient(var(--box-gradient-background-color-50));
	background: -webkit-linear-gradient(var(--box-gradient-background-color-50));
	background: -o-linear-gradient(var(--box-gradient-background-color-50));
	background: linear-gradient(var(--box-gradient-background-color-50));
    box-shadow: var(--box-shadow-size);
    border: none;
    border-radius: 0 0 var(--border-radius-100) var(--border-radius-100);
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    min-height: 40px;
    height: 7%;
    width: 90%;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 950px) {
    .atomo_navbar__main_desktop_content_group {
        display: none;
    }
}

.atomo_navbar__nav_desktop_content_group {
    background: var(--transparent-background);
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
}

.atomo_navbar__nav_desktop_content_item {
    align-items: center;
    background: var(--transparent-background);
    border-radius: var(--border-radius-100);
    box-sizing: border-box;
    color: var(--dark-color-50);
    cursor: pointer;
    display: flex;
    font-family: CurrentGolden;
    font-size: var(--font-size-of-150);
    text-align: center;
    text-decoration: none;
    justify-content: space-around;
    list-style: none;
    margin: auto 2px;
    height: 80%;
    width: var(--width-size-75);
}

.atomo_navbar__nav_desktop_content_item:hover,
.atomo_navbar__nav_desktop_content_active {
    background: -moz-linear-gradient(var(--hover-gradient-background-color-100));
	background: -webkit-linear-gradient(var(--hover-gradient-background-color-100));
	background: -o-linear-gradient(var(--hover-gradient-background-color-100));
	background: linear-gradient(var(--hover-gradient-background-color-100));
}

.atomo_navbar__nav_desktop_content_active {
    cursor: default !important;
	pointer-events: none;
	opacity: 0.6;
}
